.farmLand {
  display: grid;
  grid-template-columns: auto auto auto;
  .tile {
    background-color: burlywood;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

