.soil {
  background-color: var(--soil-color);
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: var(--outline);
  margin: 0.1vw;
  cursor: var(--cursor);
}

.hitbox {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 10vw;
  height: 10vw;
  z-index: 999999;
}
