.soil {
  background-color: var(--soil-color);
  width: 20vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
}

.hitbox {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 20vw;
  height: 20vw;
  z-index: 999999;
}
