.soil {
  background-color: burlywood;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.hitbox {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 5vw;
  height: 5vw;
  z-index: 999999;
}
