.rainDrop {
  stroke-dashoffset: var(--path-length);
  animation-name: rain;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: var(--animation-delay);
  stroke-width: 3;
  stroke: darkturquoise;
  stroke-opacity: 0;
  stroke-linecap: round;
}

@keyframes rain {
  0% {
    stroke-opacity: 0.1;
  }
  100% {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
    stroke-width: 6;
  }
}
