.plantParticle {
  width: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  aspect-ratio: 1;
  background-color: lightseagreen;
  transform: translate(var(--x), var(--y));
  z-index: 999;
}
